.sudno-SearhFiltres {
    overflow-y: hidden;
}

.sudno-SearhFiltres-hiddenBlock {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.3s;
    height: max-content;
}

.sudno-SearhFiltres-hiddenBlock-active {
    overflow: hidden;
    /* max-height: calc(var(--search-filter-hidden-block-height) * 2); */
    max-height: 1140px;
    transition: max-height 1s;
}

@media (max-width: 640px) {
    .width-full-sm {
        width: 100%;
    }
}
