@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  min-width: 375px;
}

.sudno-container {
  max-width: 1232px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}