.callButton {
    border-radius: 6px;
    height: 36px;
    width: 300px;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.25s;
    cursor: pointer;
    opacity: 1;
}

.tel {
    border: 1.5px solid #3a618c;
    background-color: #3a618c;
    color: white;
}
.tel:hover {
    opacity: 0.9;
}
.show {
    border: 1.5px solid #d9d9d9;
}
.show:hover {
    color: #3a618c;
    border: 1.5px solid #3a618c;
}

.email {
    background-color: #150e15;

    color: white;
}
.email:hover {
    background-color: #2b262a;
}

.favorite {
    background-color: #d9d9d9;
    color: #150e15;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    opacity: 1;
}
.favorite:hover {
    opacity: 0.7;
}
.disabled {
    opacity: 0.6;
}
.disabled:hover {
    opacity: 0.6;
}
.selected {
    background-color: #34a8ff;
    color: white;
}
.selected:hover {
    opacity: 0.9;
}

.share {
    border: 1.5px solid #739570;
    color: #739570;
    opacity: 1;
}
.share:hover {
    color: #356330;
}

.copiedAnimation {
    color: white;
    border: 1.5px solid #739570;
    background-color: #739570;
}
.copiedAnimation:hover {
    color: white;
    opacity: 1;
}

.anticon {
    margin-right: 8px;
}

@media screen and (max-width: 810px) {
    .callButton {
        height: 30px;
        width: 300px;
        font-size: 18px;
        padding: 30px;
    }
}
@media screen and (max-width: 640px) {
    .callButton {
        height: 30px;
        width: 270px;
        font-size: 15px;
        padding: 30px;
    }
}

@media screen and (max-width: 580px) {
    .callButton {
        height: 25px;
        width: 100%;
        padding: 22px;
    }
}
